@import url('https://fonts.googleapis.com/css2?family=Raleway');
@import 'tailwindcss';

@theme {
  --font-raleway: 'Raleway', sans-serif;
  --color-primary: #424b54;
  --color-secondary: #3b434b;
  --color-text: #f5f5f5;
  --color-accent: #f67e7d;
  --color-border-input: #646c73;
}

@layer base {
  * {
    font-family: var(--font-raleway);
    color: var(--color-text);
  }

  *:focus-visible {
    @apply ring-text ring-offset-primary ring-1 ring-offset-4 transition outline-none;
  }
}

.menu-element {
  @apply hover:text-accent duration-300 active:scale-105;
}

.selected-menu {
  @apply text-accent font-bold;
}

.remaining-time {
  @apply text-accent text-[56px] font-bold;
}

.timer-state-text {
  @apply absolute top-42 text-2xl font-medium;
}

.svg-button {
  @apply duration-100 hover:scale-105 active:scale-110;
}

.button {
  @apply bg-accent rounded-sm text-lg duration-200 hover:scale-101 active:scale-97 disabled:pointer-events-none disabled:brightness-75;
}

.button-active {
  @apply scale-97;
}

.toggle-button {
  @apply border-text relative h-6.5 w-13 rounded-full border-[1.75px] duration-300;
}

.toggle-button-circle {
  @apply border-text bg-text absolute top-1/2 h-5 w-5 -translate-y-1/2 rounded-full border transition-all duration-300;
}

.toggle-false {
  @apply left-0.5;
}

.toggle-true {
  @apply left-[calc(100%-1.4rem)];
}

.number-input {
  @apply text-accent border-border-input w-20 rounded-md border bg-transparent p-2 text-left;
}

.settings-modal {
  @apply bg-secondary border-text absolute top-1/2 left-1/2 -z-2 flex w-[333px] max-w-[90vw] -translate-x-1/2 -translate-y-1/2 flex-col items-center justify-center rounded-md border duration-200;
}

.modal-visible {
  @apply z-50 opacity-100;
}

.modal-hidden {
  @apply opacity-0;
}

.alert-container {
  @apply absolute p-2 font-bold duration-500;
}

.alert-visible {
  @apply bottom-10 opacity-100;
}

.alert-hidden {
  @apply bottom-5 opacity-0;
}
